/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  margin: 0;
}

.onePageContainer {
  background-color: #ececec;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  &__center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.button-icon {
  mat-icon {
    position: relative;
    margin-top: 5%;
    font-size: 120%;
  }
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: grey;
  }
}

.mat-list-item-content {
  .mat-pseudo-checkbox {
    display: none;
  }
}


.spacer {
  flex: 1 1 auto;
}

.image-preview {
  width: 300px;
  height: 200px;
}

.image-background-preview {
  width: 100%;
  height: 550px;
  .image-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.flag-icon {
  margin-right: 20px;
}

.message-box {
  margin: 30px 0 30px 0;
  &.success {
    border: 1px solid green;
    background-color: #dbffdb;
  }
  &.error {
    border: 1px solid #800002;
    background-color: #ffb5ba;
  }
}


mat-form-field {
  width: 100%;
}

mat-header-cell, mat-cell {
  display:flex;
  justify-content:center;
}

.success-snackbar {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.error-snackbar {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.group {
  width: 100%;
  display: flex;
  .button {
    flex: 1;
  }
}

.hidden {
  display: none;
}

