<mat-toolbar>
  <h2><a [routerLink]="['../../../']">List</a>&#8195;/&#8195;Editing post <small>{{idParametr}}</small></h2>
  <div class="spacer"></div>
  <button [disabled]="!correct" mat-raised-button (click)="edit()" class="button-icon" style="margin-right: 15px;">
    EDIT <mat-icon>edit</mat-icon>
  </button>
  <button mat-raised-button (click)="delete()" class="button-icon">
    DELETE <mat-icon>delete_outline</mat-icon>
  </button>
</mat-toolbar>

<mat-button-toggle-group #group="matButtonToggleGroup" [value]="langParametr" class="group">
  <ng-container *ngFor="let item of defaultContent | keyvalue">
    <mat-button-toggle value={{item.key}} class="button">
      <span [ngClass]="['flag-icon', 'flag-icon-'+(item.key === 'en' ? 'gb': item.key)]"></span>
      {{item.value.title}}
    </mat-button-toggle>
  </ng-container>
</mat-button-toggle-group>

<ng-container *ngFor="let item of defaultContent | keyvalue">
  <div [class.hidden]="group.value!==item.key">
    <div class="form-container">
      <div class="one-column">
        <mat-form-field hintLabel="Max 10 characters">
          <input matInput maxlength="10" placeholder="Enter url link" [(ngModel)]="item.value.url">
          <mat-hint align="end">{{item.value.url.length || 0}}/10</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Enter title" [(ngModel)]="item.value.title">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Enter image url" [(ngModel)]="item.value.image">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Enter image background url" [(ngModel)]="item.value.background">
        </mat-form-field>

        <mat-checkbox [(ngModel)]="item.value.draft">
          Save as draft?
        </mat-checkbox>
      </div>
      <div class="one-column" style="display: flex;flex-direction: column;">
        <img [src]="item.value.image" class="image-preview"/>
        <button mat-button (click)="showBackground=!showBackground">Show background image</button>
      </div>
    </div>
    <div class="image-background-preview" *ngIf="showBackground">
      <img class="image-background" [src]="item.value.background" />
    </div>
    <app-editor [content]="item.value.body" (correct)="correct = $event" (editor)="item.value.body = $event"></app-editor>
  </div>
</ng-container>
