<mat-toolbar>My App</mat-toolbar>

<!--Lista:-->
<!-- - tlumaczenie z prefixami /en /pl-->
<!-- - stylowanie-->
<!-- - tagi na posta i zeby trafialy do odpowiednich kategori-->

<div class="container">
  <ng-container *ngIf="posts | async as data; else loading">
    <ng-container *ngIf="data.length; else noItems">
      <ng-container *ngFor="let post of data">
        <mat-card class="example-card">
          <a [routerLink]="['/post/', post.url]">
            <mat-card-title>{{post.title}}</mat-card-title>
            <img mat-card-image [src]="post.image">
          </a>
          <mat-card-content>
            <p>{{post.body | striphtml | truncate: 20 : false : '...' }}</p>
            <p><a [routerLink]="['/post/', post.url]">Read more</a></p>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </ng-container>
    <ng-template #noItems>No Items!</ng-template>
  </ng-container>
  <ng-template #loading>loading posts...</ng-template>
</div>

