.sidenav {
  width: 200px;

}
.container {
  height: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.form-container {
  display: flex;
  align-items: center;
  .one-column {
    &:first-of-type {
      flex: 1;
    }
    padding: 2em;
  }
}


